.site {
  max-width: 230px;
  width: 100%;
  margin-left: 15px;
  margin-right: 105px;
  margin-bottom: 200px;

  &__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #474747;
    margin-bottom: 35px;
  }

  &__text {
    position: relative;
    z-index: 100;
    width: 270px;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    color: #474747;
    margin-bottom: 28px;
  }

  &__item {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #474747;
    margin-bottom: 50px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__icons {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 769px) {
  .site {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 426px) {
  .site {
    margin-bottom: 100px;
    margin-left: 0;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 2100px;
  }
}

@media only screen and (max-width: 321px) {
  .site {
    top: 2230px;
  }
} ;
