html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-family: "Roboto Mono", "Arial", serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}
